# Global git config.

[alias]
	ci = commit
	st = status
	co = checkout
	pom = push origin master
[user]
	name = Leigh Williams
	email = leighwilliams@fastmail.fm
[credential]
	helper = osxkeychain
[color]
    ui = auto

[push]
	default = simple
