#
# Ignore all files for now, except those specified. AKA .gitdontignore

# Ignore everything.
*.DS_Store
/*

# But not these files.
!.gitconfig
!.gitignore
!.vimrc
!.zshrc

# Or these directories.
!.vim/
!.antigen/

